body {
    background-image: url('https://img.freepik.com/free-photo/abstract-blur-shopping-mall_74190-4773.jpg?w=900&t=st=1699935081~exp=1699935681~hmac=81c73f5cc153f9c7944da54284c6d94eaca09d0ad37a1370c678d9bfe128d911'); 
    background-position: center; 
    background-repeat: no-repeat; 
    color: #333; 
    font-family: 'Arial', sans-serif; 
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px;
}

iframe {
    width: 100%;
    height: 400px;
}

form {
    display: grid;
    gap: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
